.milestone_rank_009 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -10px -10px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_010 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -80px -10px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_008 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -10px -80px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_011 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -80px -80px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_012 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -150px -10px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_013 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -150px -80px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_014 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -10px -150px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_015 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -80px -150px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_016 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -150px -150px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_017 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -220px -10px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_018 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -220px -80px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_019 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -220px -150px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_020 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -10px -220px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_1 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -80px -220px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_002 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -150px -220px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_003 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -220px -220px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_005 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -290px -10px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_004 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -290px -80px;
  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_007 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -290px -150px;

  transform: scale(0.8) translate(10px, 10px);
}

.milestone_rank_006 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/milestones_sprite.png") -290px -220px;
  transform: scale(0.8) translate(10px, 10px);
}
